.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-weight: lighter;
  font-family: Chilanka;
}
.label{
  font-size: 20px;
  font-weight: lighter;
  align-items: center;
}
.input{
  border-radius: 30px;
  height: 25px;
  width: 400px;
  padding: 10px;
}
.button{
  background-color: dodgerblue;
  padding: 10px;
  font-family: Chilanka;
  color: white;
}
.anagram{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: block;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
